<div class="filter-scroll">
    <div class="col-md-12 col-sm-12 col-12">
        <div class="ps-2">
            <label>CATEGORY</label>
            @for (item of filterResponse()?.categories; track item.id) {
            <div class="col-md-12 col-sm-12 col-12 ps-1">
                <mat-checkbox class="custom-checkbox" [(ngModel)]="item.checked" (change)="onChangeValue()">
                    {{ item.Category_Name }}
                </mat-checkbox>
            </div>
            }
        </div>
        <!-- <hr>
        <div class="ps-2">
            <label>Applications</label><br>
            @for (item of filterResponse()?.Applications; track item.Applications) {
            <div class="col-md-12 col-sm-12 col-12 ps-1">
                <mat-checkbox class="custom-checkbox" [(ngModel)]="item.checked" (change)="onChangeValue()">
                    {{ item.Applications }}
                </mat-checkbox>
            </div>
            }
        </div> -->
        <hr>
        <div class="ps-2">
            <label>COLLECTION/SUBCATEGORY</label><br>
            @for (item of filterResponse()?.subcategories; track item.id) {
            <span class="sub-category" [ngClass]="{'active':item.checked}" (click)="onClickType(item)"> {{
                item.SubCategory_name }}</span>
            }
        </div>
        <hr>
        <div class="ps-2">
            <label>COLOR</label><br>
            @for (item of filterResponse()?.colors; track item.color) {
            <span class="color-box" [style.background]="item.color" [ngClass]="{'color-active':item.checked}"
                (click)="onClickType(item)">
            </span>
            }
        </div>
        <hr>
        <div class="ps-2">
            <label>Items</label><br>
            @for (item of filterResponse()?.items; track item.name) {
            <div class="col-md-12 col-sm-12 col-12 ps-1">
                <mat-checkbox class="custom-checkbox" [(ngModel)]="item.checked" (change)="onChangeValue()">
                    {{ item.name }}
                </mat-checkbox>
            </div>
            }
        </div>
        <hr>
        <div class="ps-2">
            <label>Patterns</label><br>
            @for (item of filterResponse()?.Patterns; track item.Pattern) {
            <div class="col-md-12 col-sm-12 col-12 ps-1">
                <mat-checkbox class="custom-checkbox" [(ngModel)]="item.checked" (change)="onChangeValue()">
                    {{ item.Pattern }}
                </mat-checkbox>
            </div>
            }
        </div>
        <hr>
        <div class="ps-2">
            <label>Origin</label><br>
            @for (item of filterResponse()?.Origin; track item.origin) {
            <div class="col-md-12 col-sm-12 col-12 ps-1">
                <mat-checkbox class="custom-checkbox" [(ngModel)]="item.checked" (change)="onChangeValue()">
                    {{ item.origin }}
                </mat-checkbox>
            </div>
            }
        </div>
        <hr>
        <div class="ps-2">
            <label>Finish Type</label><br>
            @for (item of filterResponse()?.FinishType; track item.sFinishType) {
            <div class="col-md-12 col-sm-12 col-12 ps-1">
                <mat-checkbox class="custom-checkbox" [(ngModel)]="item.checked" (change)="onChangeValue()">
                    {{ item.sFinishType }}
                </mat-checkbox>
            </div>
            }
        </div>
        <!-- <hr>
        <div class="ps-2 mb-2 text-center">
            <button type="button" class="btn btn-primary me-2" (click)="applyFilter()">Apply</button>
            <button type="button" class="btn btn-danger" (click)="clearFilter()">Clear</button>
        </div> -->
    </div>
</div>