.custom-header {
    border-bottom: 1px solid lightgray;
    padding-top: 5px;
}

.border-right-gray {
    border-right: 1px solid lightgray;
}

.link {
    color: #0000EE;
    font-weight: 500;
}

.edit-list {
    /*    font-size: 16px;
    height: 14px;
    width: 16px; */
    --bs-btn-padding-y: .1rem;
    --bs-btn-padding-x: .5rem;
    --bs-btn-font-size: .75rem;
    width: 60px;
}