.card-img-top {
  height: 30vh;
  border: 1px solid #d1d1d1;
  border-radius: 6px;
  cursor: pointer;
}

.custom-card {
  margin-bottom: .4rem;
  margin-top: .4rem;
  border: 1px solid gray;
}

.card-body {
  padding: 5px;
}

.main-title {
  font-size: 1.1rem;
  color: #adadad;
  font-weight: 700;
  margin-top: 5px;
}

.sub-title {
  font-size: 0.8rem;
  color: #adadad;
  font-weight: 100;
}

/* .border-custom {
  border: 1px solid gray;
  border-radius: 5px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  cursor: pointer;
}

.border-custom:focus:hover{
  border-color: black;
  background: white;
} */
.view-details {
  /*    font-size: 16px;
    height: 14px;
    width: 16px; */
  --bs-btn-padding-y: .2rem;
  --bs-btn-padding-x: .5rem;
  --bs-btn-font-size: .75rem;
  /*  width: 10px; */
  color: #fffdfd;
  background: #005daa;
  font-weight: 700;
  float: right;
}

.view-details:hover {
  /*  color: #424141; */
  background-color: #005daa;
}


@media screen and (max-width: 600px) {
  .card-img-top {
    height: 22vh;
  }
}

.header {
  // border-bottom: 1px solid lightgray;
  border-bottom: 1px solid gray;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  font-size: 12px;
  //  background-color: #5b5d6b;
}


.main-title-submit {
  font-size: 1rem;
  color: #000000;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 5px;
}

.sub-title-submit {
  margin-top: 1rem;
  font-size: 1rem;
  color: #b3b5bd;
  font-weight: 100;
}

.form-container {
  max-width: 400px;
  margin: 40px auto;
  color: #adadad;
  padding: 10px;
  border: 1px solid whitesmoke;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.form-container .form-control {
  margin-bottom: 20px;
}

.error {
  position: absolute;
  margin-top: -22px;
  font-size: 11px;
  color: red !important;
  padding-left: 5px;
}

/* .y-scroll-card {
  overflow-y: auto;
  height: calc(100vh - 110px);
} */

.submit-btn {
  font-weight: 600;
  padding: 2px 10px;
  border-radius: 20px;
  font-size: 12px;
  background-color: #005daa;
  color: white;
  border: 1px solid #005daa;
}

.send-email {
  color: white;
  padding-top: 5px;
  position: absolute;
  right: 10px;
  font-size: 16px;
  cursor: pointer;
}

.send-email:hover {
  font-size: 20px;
}

.img-fluid-swiper {
  height: calc(100vh - 120px);
  width: 100%;
}

.blink-btn {
  position: fixed;
  bottom: 50px;
  right: 20px;
  /* change to left if needed */
  padding: 6px 20px;
  background-color: #005daa;
  color: #fff;
  border: none;
  border-radius: 30px;
  /* rounded */
  font-size: 16px;
  cursor: pointer;
  z-index: 1000;

  animation: blink 1s infinite;
}

/* Blink animation */
@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}

/* Optional hover effect */
.blink-btn:hover {
  animation: none;
  background-color: #014d8b;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 5px #012e53;
  }

  50% {
    box-shadow: 0 0 20px #012e53;
  }

  100% {
    box-shadow: 0 0 5px#001e36;
    ;
  }
}

.blink-btn {
  animation: glow 1.5s infinite;
}

.about-us {
  background-color: #005daa;
  color: white;
  padding: 5px;
  text-align: center;
  font-weight: 700;
}