.navbar-brand img {
    object-fit: cover;
}

.navbar img.rounded-circle {
    object-fit: cover;
}

.profile-w {
    height: 30px;
    width: 30px;
}

.text-header {
    font-size: 0.7rem;
}

.navbar {
    padding: 0.5rem;
}

.profile-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.logo {
    height: 30px;
    width: 60px;
}

footer a:hover {
    color: #0d6efd;
    transition: 0.3s;
}

/* 
.bg-gray {
    height: calc(100vh - 72px);
} */

.navbar[_ngcontent-ng-c214581083] {
    padding: 0rem 0.5rem;
}

.overflow-main {
    overflow: auto;
    height: calc(100vh - 93px);
}

.bg-dark {
    background-color: #333;
}

.title {
    color: white;
    font-size: 22px;
}

@media screen and (max-width: 780px) {
    .title {
        font-size: 16px;
    }
}
