.custom-card {
    margin-bottom: .4rem;
    margin-top: .4rem;
    border: 1px solid white;
    background-color: #F4F4F5;
}

.card-body {
    padding: 5px;
}

.circle-icon {
    padding: 2px 2px 2px 4px;
    font-size: 10px;
    border-radius: 50%;
    border: 1px solid black;
    cursor: pointer;
}

.segment-div {
    background: #ffc10770;
    padding-left: 5px;
    border-radius: 5px;
}