.over-flow-hold {
    overflow-y: scroll;
    height: calc(100vh - 170px);
}


.card-img-submit {
    height: 9vh;
    border: 1px solid lightgray;
    border-radius: 6px;
    width: 100%;
    cursor: pointer;
}

.error {
    position: relative;
}

.sub-title-submit {
    font-size: 0.8rem;
    color: #b3b5bd;
    font-weight: 100;
}