// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming


@use '@angular/material' as mat;

@import url('swiper/css');
@import url('swiper/css/navigation');
@import url('swiper/css/pagination');
@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-quartz.css';

html {
  @include mat.theme((color: (primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}

/* You can add global styles to this file, and also import other style files */
label {
  font-weight: 700;
  padding-bottom: 5px;
}

.browser-view {
  display: block;
}

.mobile-view {
  display: none;
}

@media screen and (max-width: 780px) {
  .browser-view {
    display: none !important;
  }

  .mobile-view {
    display: block !important;
    background-color: #404252;
    height: 100vh;
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-dialog-surface {
  border-radius: 10px !important;
  /*  background-color: #404252 !important; */
  /*   color: #b3b5bd !important; */
}

.cursor-pointer,
mat-icon {
  cursor: pointer;
}

.form-control.ng-touched.ng-invalid {
  border: 1px solid red;
}

.error {
  font-size: 11px;
  color: red !important;
  position: absolute;
  margin-top: -3px;
}

.success-snackbar {
  .mat-mdc-snackbar-surface {
    background: #4caf50 !important;
    /* green */
    color: #fff !important;
    font-weight: 600;
    border-radius: 6px !important;
  }
}

.error-snackbar {
  .mat-mdc-snackbar-surface {
    background: #f44336 !important;
    /* red */
    color: #fff !important;
    font-weight: 600;
    border-radius: 6px !important;
  }
}

.modal-header {
  padding: 10px;
  border-bottom: 1px solid gray;
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}

hr {
  margin: 0.5rem 0;
}

.mr-t-10 {
  margin-top: -10px;
}

.swal2-html-container {
  --swal2-html-container-padding: 0.2em;
}

.swal2-title {
  padding: 0.2em;
  font-size: 1.5em;
}

.wal2-warning {
  width: 4em;
  height: 4em;
  margin: 1.2em auto 0.6em;
}


.mdc-switch__handle {
  height: 16px !important;
  width: 16px !important;
}

.mdc-switch__track {
  height: 24px !important;
}

.mat-mdc-slide-toggle .mdc-switch--selected .mdc-switch__handle:has(.mdc-switch__icons) {
  margin: var(--mat-slide-toggle-selected-with-icon-handle-horizontal-margin, 0 32px) !important;
}

/* .mdc-tab--active {
  .mdc-tab-indicator {
    border: 2px solid blue;
    border-bottom: none;

    .mdc-tab-indicator__content {
      border: none;
    }
  }
} */

.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 0px 3px 0 rgba(0, 0, 0, 0.19) !important;
  border: 1px solid gray;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.03);
}

@media (hover: hover) {
  .card:hover {
    transform: scale(1.03);
  }
}

.swiper-pagination-bullet {
  background: white;
  /* dot color */
  width: 12px;
  /* size */
  height: 12px;
  opacity: 0.7;
  /* optional */
}

.swiper-pagination-bullet-active {
  background: white;
  /* active dot */
  width: 14px;
  /* bigger active */
  height: 14px;
  opacity: 1;
}

.swiper-pagination {
  text-align: right;
  right: 10px;
  left: auto !important;
}

.custom-chart {
  .apx-legend-position-right {
    height: 100% !important;
    display: flex !important;
    justify-content: center !important;
    flex-direction: column !important;
    top: 0px !important;
  }
}

.mdc-checkbox {
  flex: 0 0 14px !important;
  margin-top: -10px !important;
}

.mdc-label {
  margin-top: -2px !important;
  font-weight: 400 !important;
}

.sidebar {
  .mdc-label {
    color: white !important;
  }
  .mdc-checkbox__background  {
        border: 2px solid rgb(189, 232, 16) !important;
  }
}