<div class="modal-header bg-light">
    <h5 class="modal-title">View Gallery</h5>
    <button type="button" class="btn-close" mat-dialog-close></button>
</div>
<div class="bg-light p-3">
    <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">
            @for (item of items(); track item.id; let i = $index) {
            <div class="carousel-item" [class.active]="i === 0">
                <img [src]="'data:image/png;base64,' + item.Image_Path" class="d-block w-100" style="height: 30vh;">
            </div>
            }
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>
    @if(items().length !== 0) {
    <hr class="mb-1 mt-2">
    <div clss="row">
        <label>Image Preview</label>
        @for (item of items(); track item.id) {

        <div class="card card-bg-color">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-3">
                    <img class="card-image" [src]="'data:image/png;base64,' + item.Image_Path" alt="Card image cap"
                        (click)="onClickImage(item)">
                </div>
                <div class="col-md-9 col-sm-9 col-9 m-auto">
                    <div clas="row"><span class="text-secondary">{{item.Image_Description}} </span></div>
                </div>
                <!--  <div class="col-md-2 col-sm-2 col-2 m-auto text-center text-secondary">
                    <mat-icon (click)="deleteItem(item)">delete</mat-icon>
                </div> -->
            </div>
        </div>
        }
    </div>
    }
</div>